<div  *ngIf="block" class="panel panel-default" [class.panel-primary]="selectedBlock">
  <div class="panel-heading">
    <h3 class="panel-title">Block # {{ i }}<small class="text-muted" *ngIf="i == 0"> (genesis block)</small></h3>
  </div>
  <div class="panel-body">
    <span>Hash:</span>
    <br>
    <div class="" [style.color]="'#' + block.hash.substring(0,6)">
      <small>{{ block.hash.substring(0,18) }} . . . </small>
    </div>

    <span>Previous hash:</span>
    <br>
    <div class="" [style.color]="'#' + block.previousHash.substring(0,6)">
      <small *ngIf="i != 0">{{ block.previousHash.substring(0,18) }} . . . </small>
      <small *ngIf="i == 0">(no previous hash)</small>
    </div>

    <hr>

    <span class="text-muted">Salt:</span>
    <br>
    <div class="text-muted">
      <small>{{ block.salt }}</small>
    </div>

    <span class="text-muted">Creation time:</span>
    <br>
    <div class="text-muted">
      <small>{{ block.timestamp | date:'MMM d, y, HH:mm' }}</small>
    </div>

  </div>
</div>
