<app-header></app-header>
<div class="container">
  <div class="alert alert-info" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h4 class="alert-heading">Learning blockchain</h4>
    This is a proof-of-concept of blockchain technology. It is not intended to be a real-world implementation of a
    blockchain coin. However, It has allowed me to understand some of the key concepts of blockchain technology.
    <hr>
    <a href="#">Source code</a>- Based on <a href="https://github.com/SavjeeTutorials/SavjeeCoin">SavjeeCoin blockchain
      tutorial</a>.
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
